/* Mobile Header */
.m-header {
    width: 100%;
    height: 3.7rem;
    position: fixed;
    z-index: 996;
    background-color: #fff;
    box-shadow: 0 1px 0 0 rgba( 0, 0, 0, .1);
    transition: .5s;
}

.m-header-movedown {
    padding-top: 3.7rem;
    height: 7.4rem;
}

/* DeskTop Header */

.header {
    width: 1100px;
    height: 10rem;
    z-index: 996;
}

.menu-wrap {
    height: 4rem;
}

.logo-wrap {
    height: 6rem;
}

.main-menu>li:hover {
    color: #000000;
}

ul li {
    list-style: none;
    cursor: pointer;
}

/* 언어 선택 */

.language select {
    border: none;
    color: rgba(117, 140, 244, 1);
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.language select::-ms-expand {
    display: none;
}

.logo {
    font-size: 1.8rem;
}

.tele-wrap {
    max-height: 100%;
}

.tele-wrap img {
    max-width: 55%;
    height: auto;
    cursor: pointer;
}

/* Search */
.search-wrap-desk {
    width: 100%;
    height: 3.7rem;
    border: 0;
    background-color: #ffffff;
    z-index: 997;
    animation-duration: .7s;
    animation-timing-function: ease-in-out;
}

.search-wrap-desk>.s-input-wrap {
    padding-left: 0;
}

.search-wrap-desk input {
    border: none;
    height: 3.7rem;
    font-size: 1rem;
    padding-left: 0;
    border-bottom: 0;
}
/* search - DeskTop */
@media (min-width: 992px) {
    .search-wrap-desk {
        width: 1100px;
        height: 4rem;
        border-bottom: 1px solid #dee2e6;
        animation-duration: .5s;
    }
    .search-wrap-desk>.s-input-wrap {
        padding-left: 3rem;
    }
    .search-wrap-desk input {
        /* border: none; */
        height: 4rem;
        font-size: 1.6rem;
        padding-left: 3rem;
        border-bottom: 1px solid #dee2e6;
    }
}

/* Navigation */

/* Mobile ver. */

.nav {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99999;
    width: 100%;
    height: 100%;
    background-color: #f7f7f7;
    animation-duration: .5s;
}

.navi-close-wrap {
    height: 3.7rem;
}

/* Main */

.main,
.admin {
    width: 100%;
    padding-top: 3.7rem;
    position: relative;
    z-index: 2;
}
/* main - DeskTop */
@media (min-width: 992px) {
    .main,
    .admin {
        width: 1100px;
        padding-top: 10rem;
    }
}





/* 
Login Section
*/

@media (min-width: 992px) {
    .sign-in-wrap {
        margin-top: -150px;
    }
}

.login input[type="text"],
.login input[type="password"] {
    width: 100%;
    padding: .375rem .75rem 0;
    line-height: 1.5;
    border: none;
    border-bottom: 1px solid #ced4da;
    transition: .5s;
}

.login input[type="text"]:focus,
.login input[type="password"]:focus {
    border-bottom: 1px solid rgb(54, 54, 54);
}

.login-search div {
    transition: .5s;
    color: #959595;
}

.login-search div:hover {
    color: rgba(122, 140, 178, 1);
}


.login-tele {
    transition: .5s;
}
.login-tele:hover {
    color: rgba(53, 101, 161, 1);
}




/* 
Mobile Index Section
*/

/* HeadLine */

.m-headline-wrap {
    height: 80vh;
}

.m-headline-img-cover {
    height: 60vh;
}

.m-headline-img-cover img {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.m-headline-text-cover {
    height: 20vh;
    background-color: #ffffff;
    display: flex;
    align-items: center;
}

.m-headline-context {
    height: 4.1rem;
    display: block;
    overflow: hidden;
    word-break: break-all;
    word-wrap: break-word;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    line-height: 1.4rem;
}

/* 마우스 스크롤 Wrapper */

.m-cover-in-scroll {
    width: 100%;
    position: absolute;
    bottom: 0;
    z-index: 2;
}

/* 마우스 스크롤 애니메이션 */

.icon-scroll,
.icon-scroll:before {
    position: absolute;
    left: 50%;
}

.icon-scroll {
    width: 35px;
    height: 20px;
    margin-left: -20px;
    bottom: 0px;
    margin-top: -35px;
    box-shadow: inset 0 0 0 1px white;
    border-radius: 25px;
}

@media (max-width: 767px) {
    .icon-scroll {
        position: relative;
    }
}

.icon-scroll:before {
    content: '';
    width: 4px;
    height: 4px;
    background: white;
    margin-left: -2px;
    top: 8px;
    border-radius: 4px;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-alternate: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-name: scroll;
    animation-name: scroll;
}

@-webkit-keyframes scroll {
    0% {
        opacity: 1;
        -webkit-transform: translateX(10px);
        transform: translateX(10px);
    }
    100% {
        opacity: 0;
        -webkit-transform: translateX(-13px);
        transform: translateX(-13px);
    }
}

@keyframes scroll {
    0% {
        opacity: 1;
        -webkit-transform: translateX(10px);
        transform: translateX(10px);
    }
    100% {
        opacity: 0;
        -webkit-transform: translateX(-13px);
        transform: translateX(-13px);
    }
}

/* HeadLine Swiper */

.swiper-container {
    width: 100%;
    height: 100%;
}

/* index page의 블록체인, 프로젝트 소식 뉴스 타이틀 */

.m-index-news-title {
    max-width: 80%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.m-index-project-title {
    max-width: 70%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* 프로젝트 소식 title의 project icon */

.index-project-img-cover img {
    height: 100%;
}

/* Twitter and Telegram Icon Wrapper*/

.link-icons {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}

.link-icons img {
    width: 100%;
}

/* DeskTop INDEX section */

.headline-a,
.headline-b,
.headline-c {
    cursor: pointer;
}

.headline-a,
.headline-b b,
.headline-c b {
    padding: 0 1rem;
}

.headline-a {
    height: 17rem;
}

.headline-a .a-title {
    font-size: 2.5rem;
    z-index: 2;
    color: #ffffff;
    transition: .5s;
}

.headline-a .a-content {
    font-size: 1rem;
    z-index: 2;
    color: #ffffff;
    transition: .5s;
}

.headline-a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.headline-a:nth-child(1) img {
    padding-bottom: .54rem;
    padding-right: .54rem;
}

.headline-a:nth-child(2) img {
    padding-bottom: .54rem;
    padding-left: .54rem;
}

.headline-a:hover .a-title {
    color: #000000;
}

.headline-a:hover .a-content {
    color: #000000;
    font-size: 1.1rem;
}

.headline-a .img-cover {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    transition: .8s;
}

.headline-a:hover .img-cover {
    background-color: #fff;
    opacity: .7;
}

/* headline-b */

.headline-b {
    height: 17rem;
}

.headline-b:nth-child(1) {
    padding-top: .54rem;
    padding-bottom: .54rem;
    padding-right: .54rem;
}

.headline-b:nth-child(2) {
    padding: .54rem;
}

.headline-b:nth-child(3) {
    padding-top: .54rem;
    padding-bottom: .54rem;
    padding-left: .54rem;
}

.headline-b .img-cover-b {
    width: 100%;
    height: 65%;
    transition: .5s;
}

.headline-b .img-cover-b img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.headline-b .title-wrap-b {
    height: 35%;
    transition: .5s;
}

.headline-b:hover .img-cover-b {
    height: 55%;
}

.headline-b:hover .title-wrap-b {
    height: 40%;
}

.headline-b b {
    transition: .5s;
}

.headline-b:hover b {
    color: #000;
    margin-bottom: .7rem;
}

/* headline-c */

.headline-c {
    height: 17rem;
}

.headline-c:nth-child(1),
.headline-c:nth-child(1) img {
    padding-top: .54rem;
    padding-bottom: .54rem;
    padding-right: .54rem;
}

.headline-c:nth-child(2),
.headline-c:nth-child(2) img {
    padding: .54rem;
}

.headline-c:nth-child(3),
.headline-c:nth-child(3) img {
    padding: .54rem;
}

.headline-c:nth-child(4),
.headline-c:nth-child(4) img {
    padding-top: .54rem;
    padding-bottom: .54rem;
    padding-left: .54rem;
}

.headline-c img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.headline-c .c-wrap {
    position: relative;
    z-index: 2;
}

.headline-c .c-wrap .c-text-wrap {
    width: 100%;
    height: 45%;
    background-color: rgba(255, 255, 255, .7);
    transition: .5s;
}

.headline-c:hover .c-text-wrap {
    height: 100%;
    background-color: rgba(255, 255, 255, .9);
}

.headline-c .c-text-wrap b {
    transition: .5s;
}

.headline-c:hover .c-text-wrap b {
    color: #000;
    margin-bottom: 1rem;
}

/* TWITTER */

.twitter-color {
    color: #00aadd;
    transition: .7s;
}

.twitter-logo-wrap {
    margin: 1.071rem 0;
    height: 4rem;
}

.twitter-logo-wrap img {
    width: 2rem;
    transition: .3s;
}

.twitter-logo:hover img {
    transform: scale(1.1);
}

/* twitter menu */
.twitter-menu-wrap {
    overflow: hidden;
    background-color: #fff;
    height: 0;
}

.twit-menu-in {
    animation: twit-menu-in .7s ease-in-out both;
}

.twit-menu-out {
    animation: twit-menu-out .7s ease-in-out;
}

@keyframes twit-menu-in {
    from {
        opacity: 0;
    }
    to {
        height: 154px;
        margin: 0 0 1rem 0;
    }
}

@keyframes twit-menu-out {
    from {
        height: 154px;
        margin: 0 0 1rem 0;
    }
    to {
        height: 0;
    }
}

.twitter-menu img {
    width: 80%;
}

/* twitter-koinvestor */
.twitter-koinvestor-bgcover {
    height: 6rem;
}
.twitter-koinvestor-bgcover img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.twitter-koinvestor-logo-wrap {
    transform: translateY(-50%);
    padding: 3px;
    border-radius: 50%;
    background-color: #fff;
    position: relative;
    z-index: 1;
}
.twitter-koinvestor-logo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    transition: .5s;
}
/* t-koinvestor */

.t-koinvestor-link {
    margin: 0;
    margin-right: 1.071rem;
}

/* twitter timeline */

.t-timeline-logo img {
    max-width: 60%;
    object-fit: cover;
}

.t-timeline-content img {
    max-width: 100%;
    object-fit: cover;
}

/* twitter project menu */

.twitter-left-wrapper {
    padding-left: 0;
}

.twitter-right-wrapper {
    padding-right: 0;
}

.t-project-logo img {
    width: 100%;
}

.t-project-btn {
    color: #A4B85D;
    border: 1px solid #A4B85D;
    width: 4rem;
    border-radius: 1rem;
    font-weight: 250;
    font-size: .9rem;
    transition: .3s;
    cursor: pointer;
    padding-top: .3rem;
    background-color: #fff;
}

.t-project-btn:hover {
    color: #fff;
    background-color: #A4B85D;
}

.t-p-line {
    border: 1px solid rgba(174, 174, 174, .3);
}

/* NOTICE section*/

/* notice-design */
.notice-design-big {
    width: 2.5rem;
    height: .3rem;
    background-color: #000000;
}

.notice-design-small {
    width: 1.5rem;
    height: .3rem;
    background-color: #000000;
}

.notice-title {
    font-size: 1.4rem;
}

.notice-content img {
    max-width: 100%;
}

@media (min-width: 992px) {
    .notice-design-big {
        width: 3rem;
        height: .6rem;
        background-color: #000000;
    }
    .notice-title {
        font-size: 1.75rem;
    }
}



/* BlockChain AND Project Section */
.blockchain-news-items,
.project-news-items {
    border-bottom: 1px solid #dee2e6;
}

.blockchain-news-items img,
.project-news-items img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.blockchain-news-items .blockchain-context {
    display: none;
}

.more-plus {
    transition: .7s;
}
.more-plus:hover {
    cursor: pointer;
    color: #fff;
    border-radius: .2rem;
    transform: translateY(-.1rem);
}

@media (max-width: 360px) {
    .blockchain-news-items p,
    .project-news-items p {
        font-size: .85rem;
    }
}

@media (min-width: 360px) {
    .blockchain-news-items,
    .project-news-items {
        height: 8rem;
    }
    .blockchain-news-items p,
    .project-news-items p {
        font-size: .9rem;
    }
}

@media (min-width: 400px) {
    .blockchain-news-items,
    .project-news-items {
        height: 9.5rem;
    }
    .blockchain-news-items p,
    .project-news-items p {
        font-size: 1rem;
    }
}
/* block chain DeskTop ver. */
@media (min-width: 992px) {
    .blockchain-news-items,
    .project-news-items {
        height: 22rem;
        border: 0;
        opacity: .85;
        transition: .7s;
    }
    .blockchain-news-items:hover,
    .project-news-items:hover {
        opacity: 1;
        cursor: pointer;
        transform: translateY(-.1rem);
    }
    .blockchain-news-items.other {
        height: 15rem;
    }
    .blockchain-news-items .blockchain-context {
        height: 4.1rem;
        display: block;
        overflow: hidden;
        word-break: break-all;
        word-wrap: break-word;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        line-height: 1.4rem;
    }
    .blockchain-news-items p,
    .project-news-items p {
        font-size: 1.1rem;
    }
    .blockchain-news-items .b-img-cover,
    .project-news-items .b-img-cover {
        height: 70%;
    }

    /* project list And Menu */
    .pc-project-all,
    .pc-project-list-menu-wrap,
    .pc-project-list-menu-item {
        background-color: #ffffff;
        cursor: pointer;
        transition: .7s;
    }

    .pc-project-all:hover {
        color: rgba(147, 214, 191, 1);
    }
    
    .pc-project-list-menu-wrap:hover .pc-project-list-menu-item {
        animation: pc-menu-item 1s infinite alternate;
    }
    
    @keyframes pc-menu-item {
        from {
            opacity: 1;
            background-color: #fff;
        }
        to {
            opacity: .8;
            background-color: #eeeeee;
        }
    }


    .project-list-img-cover img {
        width: 80%;
    }
}




/*
Project Section
*/

.project-list {
    border-bottom: 1px solid #dee2e6;
    overflow: hidden;
}

.project-list.accordionIn {
    animation: projectListIn .7s both;
}

.project-list.accordionOut {
    animation: projectListOut .7s both;
}

.project-list img {
    height: 100%;
    object-fit: cover;
}

@keyframes projectListIn {
    from {
        height: 0px;
    }
    to {
        height: 155px;
    }
}

@keyframes projectListOut {
    from {
        height: 155px;
    }
    to {
        height: 0px;
    }
}





/* Contact, Cooperate Section */
.contact input[type="submit"],
.cooperate input[type="submit"] {
    width: 10rem;
    height: 2.5rem;
    border: none;
    margin: 3rem 0;
    background-color: #424242;
    color: #eeeeee;
}

@media (min-width: 992px) {
    .contact input[type="submit"],
    .cooperate input[type="submit"] {
        width: 12rem;
        margin: 8rem 0;
        cursor: pointer;
    }
}

.contact-input-wrap,
.cooperate-input-wrap {
    min-height: 50px;
}

.contact-input-wrap input,
.cooperate-input-wrap input {
    width: 100%;
    padding: 0.375rem .1rem;
    font-size: 1rem;
    line-height: 1.5;
    background-color: #fff;
    background-clip: padding-box;
    border: none;
}





/* Detail Section */
.modi-del {
    border: none;
    background-color: #FAD267;
    border-radius: .5rem;
    color: #fff;
    padding: .35rem .7rem;
    margin-top: .5rem;
    cursor: pointer;
    transition: .7s;
}
.modi-del-twit {
    border: none;
    background-color: #FAD267;
    border-radius: .5rem;
    color: #fff;
    padding: 0 .4rem;
    margin-top: .5rem;
    cursor: pointer;
    transition: .7s;
}
.modi-del:hover,
.modi-del-twit:hover {
    color: rgba(76, 103, 161, 1);
}

.detail-content-wrap img {
    width: 100%;
    object-fit: cover;
}

.address-copy-alert {
    width: 15rem;
    height: 2.5rem;
    line-height: 2.5;
    background-color: #fff;
    border: 1px solid #dee2e6;
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    z-index: 10;
    text-align: center;
    transform: translateX(-100%);
    opacity: 0;
}

.copy-alert-toggle {
    animation: copy-alert 3s ease-in-out infinite;
}

@keyframes copy-alert {
    from {
        opacity: 0;
    }
    30% {
        opacity: 1;
        transform: translate(0%);
    }
    70% {
        opacity: 1;
        transform: translate(0%);
    }
    to {
        opacity: 0;
    }
}

.like-wrap {
    width: 2.5rem;
    height: 2.5rem;
    border: 1px solid #dee2e6;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #dee2e6;
    cursor: pointer;
}

.like-icon {
    color: #fff;
}

.like-icon.active {
    animation: like-active .5s ease-in-out both;
}
.like-icon.destroy {
    animation: like-destroy .5s;
}

@keyframes like-active {
    0% {
        transform: none;
    }
    33% {
        transform: scale(1.3);
    }
    66% {
        transform: scale(3);
    }
    100% {
        transform: scale(1.5);
        color: red;
    }
}

@keyframes like-destroy {
    50% {
        transform: scale(2);
        color: red;
        opacity: .3;
    }
    to {
        transform: none;
        color: none;
    }
}







/* Footer */

footer {
    position: relative;
    z-index: 1;
}

.main-footer {
    height: 400px;
    margin-top: -200px;
    padding-top: 200px;
}
























/* Admin CSS */
.admin-nav.active {
    border-top: 1px solid rgba(238, 238, 238, 1);
    border-bottom: 1px solid rgba(238, 238, 238, 1);
    font-weight: bold;
}

.notice-date input {
    text-align: center;
    width: 100%;
    cursor: pointer;
    transition: .2s;
    border: 0;
}

.notice-date input:hover {
    background-color: rgba(228, 251, 243, 1);
}

.up-tempo-btn-wrap input {
    width: 100%;
    padding: 1rem;
    color: #fff;
    border-radius: 3rem;
    cursor: pointer;
    background-color: #343a40;
    opacity: .95;
    transition: .3s;
}

.up-tempo-btn-wrap input:hover {
    transform: translateY(-.2rem);
    opacity: 1;
}





.filebox input[type="file"] {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.filebox label {
    display: inline-block;
    padding: .5em .75em;
    /* color: #999; */
    font-size: inherit;
    line-height: normal;
    vertical-align: middle;
    background-color: #fdfdfd;
    cursor: pointer;
    border: 1px solid rgba(199, 202, 201, 1);
    border-bottom-color: #e2e2e2;
    border-radius: .25em;
    margin-bottom: 0;
}

/* named upload */

.filebox .upload-name {
    display: inline-block;
    padding: .5em .75em;
    font-size: inherit;
    font-family: inherit;
    line-height: normal;
    vertical-align: middle;
    /* background-color: #e2e2e2; */
    border: 1px solid #ebebeb;
    border-bottom-color: #e2e2e2;
    border-radius: .25em;
    -webkit-appearance: none;
    /* 네이티브 외형 감추기 */
    -moz-appearance: none;
    appearance: none;
    color: rgba(140, 140, 140, 1);
}

